APP_NAME="mini-RAG"
APP_VERSION="0.1.0"

FILE_ALLOWED_TYPES=["text/plain", "application/pdf"]
FILE_MAX_SIZE=10
FILE_DEFAULT_CHUNK_SIZE=512000 # 512 KB

######################## Database Configurations ########################
# MONGODB_URL="mongodb://admin:admin@localhost:27007"
# MONGODB_DATABASE="mini-rag"

POSTGRES_USERNAME="your-postgres-username"
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5400 
POSTGRES_MAIN_DB="mini-rag"


######################## LLM Configurations ########################

# generation
GENERATION_BACKEND_LITERALS = ["openai", "cohere", "anthropic"]
GENERATION_BACKEND = "cohere"
GENERATION_MODEL_ID = "command-r-plus-08-2024"

# embedding
EMBEDDING_BACKEND_LITERALS = ["openai", "cohere"]
EMBEDDING_BACKEND = "cohere"
EMBEDDING_MODEL_ID = "embed-multilingual-light-v3.0"
EMBEDDING_MODEL_SIZE=384

INPUT_DEFAULT_MAX_CHARACTERS = 2048
GENERATION_DEFAULT_MAX_TOKENS = 2048
GENERATION_DEFAULT_TEMPERATURE = 0.2


# OpenAI Configurations
OPENAI_API_KEY="your-openai-api-key"
OPENAI_API_URL="http://localhost:11434/v1"
 
# Cohere Configurations
COHERE_API_KEY="your-cohere-api-key"

# Anthropic Configurations
ANTHROPIC_API_KEY="your-anthropic-api-key"


######################## VectorDB Configurations ########################
VECTOR_DB_BACKEND_LITERALS = ["PGVECTOR", "QDRANT"]
VECTOR_DB_BACKEND = "PGVECTOR"
VECTOR_DB_PATH = "qdrant_db"
VECTOR_DB_DISTANCE_METHOD = "cosine"
VECTOR_DB_PGVECTOR_INDEX_THRESHOLD = 10000


######################## Prompt Templates Configurations ########################
 DEFAULT_LANGUAGE = "en"

